<div class='row'>
    <div class="col-xs-12">
      <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()"> 
        <div class="row" *ngIf=isDelete>
            <div class="col-xs-12">
              <p>Are you sure to delete this recipe?</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button 
            type='submit' 
            class="btn btn-success"
            *ngIf=!isDelete
            [disabled]="!recipeForm.valid">Save
          </button>
          <button 
          type='button' 
          class="btn btn-success"
          (click)='onDeleteClick()'
          *ngIf=isDelete>Yes
        </button>          
            <button type="button" class="btn btn-danger" (click)='onCancelClick()'>Cancel</button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" formControlName="name" class="form-control"
              [readonly]=isDelete>
              <!-- <input type="text" id="id" formControlName="id" class="form-control"> -->
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="imagePath">Image URL</label>
                <input 
                type="text" 
                id="imagePath" 
                formControlName="imagePath" 
                class="form-control" 
                #imagePath
                [readonly]=isDelete>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <img [src]="imagePath.value" class="img-responsive">
                </div>
              </div>
            </div>
          
            <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="dexcription">Description</label>
                    <textarea type="text" id="description" formControlName="description" rows="6" 
                    class="form-control"
                    [readonly]=isDelete
                    ></textarea>
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-xs-12" formArrayName="ingredients" >

                    <div 
                    style="margin-top: 10px"
                    class="row" 
                    *ngFor="let ingredientCtrl of getControls(); let i = index"
                    [formGroupName]="i">
                      <div class="col-xs-8">
                          <input type="text" formControlName="name" class="form-control" [readonly]=isDelete>
                      </div>         
                      <div class="col-xs-2">
                          <input type="number"  formControlName="amount" class="form-control" [readonly]=isDelete>
                      </div>       
                      <div class="col-xs-2">
                        <button 
                        type='button'
                        class='btn btn-danger' 
                        (click)='onDeleteIngredient(i)'
                        *ngIf=!isDelete>X
                      </button>
                      </div>    
                    </div>

                    <hr>
                    <div class="con-xs-12">
                      <button type="button" 
                      class="btn btn-success" 
                      *ngIf=!isDelete
                      (click)="onAddIngredientClick()">Add New Ingredient</button>  
                     </div>                    
                  </div>
                </div>              
      </form>
    </div>
</div>